etc/rest/external/metamac-export-rest-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
    targetNamespace="http://www.siemac.org/metamac/rest/export/v1.0/domain" 
    xmlns:tns="http://www.siemac.org/metamac/rest/export/v1.0/domain"
    xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />

    <xs:complexType name="Exportation">
        <xs:sequence>
            <xs:element name="datasetSelection" type="tns:DatasetSelection" minOccurs="1" />
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="DatasetSelection">
        <xs:sequence>
            <xs:element name="dimensions" type="tns:DatasetSelectionDimensions" minOccurs="1" />
            <xs:element name="attributes" type="tns:DatasetSelectionAttributes" minOccurs="0" />
        </xs:sequence>
    </xs:complexType> 
       
    <xs:complexType name="DatasetSelectionDimensions">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dimension" type="tns:DatasetSelectionDimension" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DatasetSelectionDimension">
        <xs:sequence>
            <xs:element name="dimensionId" type="xs:string" minOccurs="1" />
            <xs:element name="dimensionValues" type="tns:DimensionValues" minOccurs="0" />
            <xs:element name="labelVisualisationMode" type="tns:LabelVisualisationMode" minOccurs="0" />
            <xs:element name="position" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="DimensionValues">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="dimensionValue" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="DatasetSelectionAttributes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="attribute" type="tns:DatasetSelectionAttribute" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DatasetSelectionAttribute">
        <xs:sequence>
            <xs:element name="attributeId" type="xs:string" minOccurs="1" />
            <xs:element name="labelVisualisationMode" type="tns:LabelVisualisationMode" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="LabelVisualisationMode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="CODE" />
            <xs:enumeration value="LABEL" />
            <xs:enumeration value="CODE_AND_LABEL" />
        </xs:restriction>
    </xs:simpleType>    
           
    <!-- Elements -->
    <xs:element name="exportation" type="tns:Exportation" />
</xs:schema>