etc/rest/external/metamac-permalinks-rest-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
    targetNamespace="http://www.siemac.org/metamac/rest/permalinks/v1.0/domain" 
    xmlns:tns="http://www.siemac.org/metamac/rest/permalinks/v1.0/domain"
    xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />
                          
    <xs:complexType name="Permalink">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="content" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="parentLink" type="common:ResourceLink" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType> 
       
    <!-- Elements -->
    <xs:element name="permalink" type="tns:Permalink" />
</xs:schema>