metamac-portal-api-web/src/main/resources/wsdl/captcha-gobcan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx">
      <s:element name="CaptchaImage1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nHeight" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sKeyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFontName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fFontSize" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptchaImage1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaptchaImage1Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptchaImage2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nHeight" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sKeyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptchaImage2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaptchaImage2Result" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFontNames">
        <s:complexType />
      </s:element>
      <s:element name="GetFontNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFontNamesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptchaImageString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nWidth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nHeight" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sKeyword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFontName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fFontSize" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CaptchaImageStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CaptchaImageStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CaptchaImage1SoapIn">
    <wsdl:part name="parameters" element="tns:CaptchaImage1" />
  </wsdl:message>
  <wsdl:message name="CaptchaImage1SoapOut">
    <wsdl:part name="parameters" element="tns:CaptchaImage1Response" />
  </wsdl:message>
  <wsdl:message name="CaptchaImage2SoapIn">
    <wsdl:part name="parameters" element="tns:CaptchaImage2" />
  </wsdl:message>
  <wsdl:message name="CaptchaImage2SoapOut">
    <wsdl:part name="parameters" element="tns:CaptchaImage2Response" />
  </wsdl:message>
  <wsdl:message name="GetFontNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFontNames" />
  </wsdl:message>
  <wsdl:message name="GetFontNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFontNamesResponse" />
  </wsdl:message>
  <wsdl:message name="CaptchaImageStringSoapIn">
    <wsdl:part name="parameters" element="tns:CaptchaImageString" />
  </wsdl:message>
  <wsdl:message name="CaptchaImageStringSoapOut">
    <wsdl:part name="parameters" element="tns:CaptchaImageStringResponse" />
  </wsdl:message>
  <wsdl:portType name="CaptchaServiceSoap">
    <wsdl:operation name="CaptchaImage1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crea un array que representa una imagen CAPTCHA. Recibe el tamaño de la imagen, el nombre de fuente y el tamaño de la fuente.</wsdl:documentation>
      <wsdl:input message="tns:CaptchaImage1SoapIn" />
      <wsdl:output message="tns:CaptchaImage1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaptchaImage2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crea un array que representa una imagen CAPTCHA. Recibe el tamaño de la imagen, el nombre de fuente y el tamaño de la fuente.</wsdl:documentation>
      <wsdl:input message="tns:CaptchaImage2SoapIn" />
      <wsdl:output message="tns:CaptchaImage2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFontNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve los tipos de fuente disponibles.</wsdl:documentation>
      <wsdl:input message="tns:GetFontNamesSoapIn" />
      <wsdl:output message="tns:GetFontNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CaptchaImageString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve un string en base 64 que representa una imagen CAPTCHA. Recibe el tamaño de la imagen, el nombre de fuente y el tamaño de la fuente.</wsdl:documentation>
      <wsdl:input message="tns:CaptchaImageStringSoapIn" />
      <wsdl:output message="tns:CaptchaImageStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaptchaServiceSoap" type="tns:CaptchaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaptchaImage1">
      <soap:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/CaptchaImage1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptchaImage2">
      <soap:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/CaptchaImage2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFontNames">
      <soap:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/GetFontNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptchaImageString">
      <soap:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/CaptchaImageString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaptchaServiceSoap12" type="tns:CaptchaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaptchaImage1">
      <soap12:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/CaptchaImage1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptchaImage2">
      <soap12:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/CaptchaImage2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFontNames">
      <soap12:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/GetFontNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaptchaImageString">
      <soap12:operation soapAction="https://www.gobiernodecanarias.org/ws/WSCaptcha/Service.asmx/CaptchaImageString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaptchaService">
    <wsdl:port name="CaptchaServiceSoap" binding="tns:CaptchaServiceSoap">
      <soap:address location="https://www.gobiernodecanarias.net/ws/WSCaptcha/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="CaptchaServiceSoap12" binding="tns:CaptchaServiceSoap12">
      <soap12:address location="https://www.gobiernodecanarias.net/ws/WSCaptcha/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>